## Домашние задания первого урока.
1. Начнём с простого: сохраните в переменную age произвольный возраст, выраженный целым числом, а в переменную name – какое-нибудь имя в виде строки.

In [1]:
age = 10
name = 'Olga'

2. Создайте список user_info, содержащий 4 элемента в следующем порядке:

* 2 строки (имя и фамилия пользователя)
* 1 дробное число (зарплата)
* 1 целое число (стаж)

In [2]:
user_info = ['Olga', 'Vasilenko', 150.5, 2]

3. Поместите в переменную first первый (т.е. нулевой) элемент из списка salaries.

Сам список создавать не нужно, он уже находится в переменной salaries. Пример данных, которые могут в нем быть: [42, 100, 70, 80]

In [3]:
salaries = [42, 100, 70, 80]
first = salaries[0]

4. Добавьте в уже созданный список users элементы 'Voronov' и 42.

In [5]:
users = list()

users.append('Voronov')
users.append(42)

5. В переменной user_ages содержится список возрастов клиентов. Напишите цикл, выводящий на печать элементы больше 18.

Сам список создавать не нужно, он уже находится в переменной user_ages. Пример данных, которые могут быть в user_ages:

user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

In [7]:
user_ages = [10, 18, 21, 35, 42, 27, 12, 16]

for a in user_ages:
    if a > 18:
        print(a)

21
35
42
27

6. Напишите программу, проверяющую стаж работы сотрудника. В переменной worker уже содержится список, содержащий значения как во 2-м задании (имя, фамилия, зарплата, стаж). Поместите в переменную status следующую строку:

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одно из следующих значений:

'junior' — стаж меньше 2 лет

'middle' — стаж больше либо равен 2 лет и меньше или равен 5

'senior' — стаж больше 5 лет

Пример данных, которые могут быть в worker:

worker = ['Olya', 'Silyutina', 350000, 3]

In [11]:
worker = ['Olya', 'Silyutina', 350000, 3]
user_name = worker[0]
user_family = worker[1]
x = worker[-1]

match x: 
    case _ if x < 2:
        position = 'junior'
    case _ if x <= 5:
        position = 'middle'
    case _ if x > 5:
        position = 'senior'


status = f'{user_name} {user_family} is {position}'
status

'Olya Silyutina is middle'

6. В списке values содержатся числовые значения. Создайте список tens и добавьте в него все числа из values, которые делятся на 10 нацело.

Сам список создавать не нужно, он уже находится в переменной values. Пример данных, которые могут быть в values:

values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

In [12]:
values = [12, 134, 10, 47, 100, 20, 50, 160, 210]

tens = [num for num in values if num % 10 == 0]

tens

[10, 100, 20, 50, 160, 210]

7. ⭐️ Задание со звёздочкой! ⭐️

Реализуйте цикл, который пробегается по уже созданному списку workers со значениями как в 2-м и 6-м заданиях и выводит для каждого сотрудника следующую строку (то есть печатает её для каждого элемента списка):

user_name user_family is position

где user_name и user_family — имя и фамилия сотрудника, а position — одна из следующих строк:

'junior' — стаж меньше 2 лет

'middle' — стаж больше либо равен 2 и меньше или равен 5

'senior' — стаж строго больше 5 лет

Сам список создавать не нужно, он уже находится в переменной workers. Пример данных, которые могут быть в workers:

workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

In [13]:
workers = [['Ivan', 'Ivanov', 100000, 2], ['Petr', 'Petrov', 150000, 2], ['Sidor', 'Sidorov', 200000, 3]]

for w in workers:
    user_name = w[0]
    user_famile = w[1]
    user_position = w[-1]

    match user_position:
        case _ if user_position < 2:
            position = 'junior'
        case _ if user_position <= 5:
            position = 'middle'
        case _ if user_position > 5:
            position = 'senior'
    status = f'{user_name} {user_family} is {position}'
    print(status)

Ivan Silyutina is middle
Petr Silyutina is middle
Sidor Silyutina is middle

8.⭐️ Задание со звёздочкой! ⭐️

Поместите в список lst числа от 0 (n = 0) до 10 включительно (N = 10) c шагом 2 (dn = 2). Для этого используйте условие while.

Note: необходимо создать переменную lst, а переменные n, N, dn создавать не нужно. Итоговый список печатать тоже не нужно.

In [15]:
n = 0
N = 10
dn = 2

lst = []
while n < N:
    for i in range(n, N + 1, dn):
        lst.append(i)
        n += dn

lst

[0, 2, 4, 6, 8, 10]

9. На предыдущих шагах вы сталкивались с различными характеристиками пользователей, которые были сохранены в списках. Теперь попробуем собрать нужную информацию в словарь!

Начнем с небольшого, где:

ключом будет название характеристики

значением – её значение

В словарь поместите следующую информацию:

характеристика | значение
------------|-----------
name | Masha
surname |	Volkova
age	| 25
salary	| 60000
position |	junior


Результат сохраните в переменную salaries_dict.

In [17]:
salaries_dict = {
    'name':'Masha',
    'surname':'Volkova',
    'age': 25,
    'salary': 60000,
    'position': 'junior'
}

10. Теперь усложним задачу. Создайте словарь, где:

Ключом будет логин пользователя (login)
В качестве значения – словарь с характеристиками (как на предыдущем шаге) для этого пользователя
login	name	surname	age	salary	position
mvolkova	Masha	Volkova	25	60000	junior
pvoronov	Peter	Voronov	27	100000	junior
pparker	Peter	Parker	35	150000	middle
akarpov	Anatoly	Karpov	30	250000	senior
Таким образом, по ключу мы сможем получить всю информацию о нужном пользователе. Обратиться к такому элементу можно, например, с помощью: users_dict['mvolkova']['name'], где в первых скобках указывается логин (первый ключ), а во вторых – название характеристики, значение которой мы хотим получить.

Пример итоговой структуры:

{

'masha_volkova' : {'name' : 'Masha', ...},

'peter_voronov' : {'name' : 'Peter', ...},

...

}

Результат запишите в переменную users_dict.

In [18]:
users_dict = {
    'mvolkova': {'name': 'Masha', 'surname': 'Volkova', 'age': 25, 'salary': 60000, 'position': 'junior'},
    'pvoronov': {'name': 'Peter', 'surname': 'Voronov', 'age': 27, 'salary': 100000, 'position': 'junior'},
    'pparker' : {'name': 'Peter', 'surname': 'Parker', 'age': 35, 'salary': 150000, 'position': 'middle'},
    'akarpov' : {'name': 'Anatoly', 'surname': 'Karpov', 'age': 30, 'salary': 250000, 'position': 'senior'}
}